.contato__geral {
    background-color: var(--branco);
    color: #002F52;
    font-family: var(--fonte-principal);
    padding: 1em;
    align-items: center;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0;
}

.banner__cadastro {
    background: transparent;
    border: 1px solid #002F52;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    padding: 1em 1.8em;
    width: 100%;
    color: #002F52;
}

.banner__cadastro::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color:  #002F52;
    background: url("../assets/img/Email.svg") no-repeat;
}

.contato__cadastre_email {
    display: flex;
    margin: 1.5em 0;
}

.botao__cadastrar {
    background-color: transparent;
    border: none;
    color: var(--laranja);
    font-size: 16px;
}



@media screen and (min-width:1024px) {
    .contato__geral {
        justify-content: space-around;
        padding: 3em;
    }
    .banner__cadastro::placeholder {
        background-position: 12em;
        font-size: 18px;
    }

    .banner__cadastro {
        font-size: 18px;
    }
    .botao__cadastrar {
        font-size: 22px;
    }
}